@model APIConsumption.Models.Park

@{
    ViewData["Title"] = "Index";
}

<h2> Index</h2>

@* Model is the Parks object.
    Data field of the model i.e. Parks object, is the array of Park.
    For each Park, display some attributes
*@

@foreach (APIConsumption.Models.Parks p in Model.data)
{ 
    @(p.parkCode+" "+p.states)
    <br />
}